@import "../../style.scss";

.post {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    transition: all 0.5s;

    .container {
      transition: all 0.5s;
      padding: 20px;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            display: flex;
            flex-direction: column;

            a {
              text-decoration: none;
              color: themed("textColor");

              .name {
                font-weight: 500;
              }
            }
            .date {
              font-size: 12px;
            }
          }
        }

        .toggleButton {
          transition: all 0.5s;
          cursor: pointer;
          border: none;
          background-color: themed("bg");

          .moreIcon {
            border: none;
            color: themed("textColor");
          }
        }

        .menuList {
          transition: all 0.5s;
          background-color: themed("bg");
          border: none;

          .menuItem {
            &.editIcon {
              color: themed("textColor");
            }
            &.deleteIcon {
              color: #f0544f;
            }
            span {
              color: themed("textColor");
            }
          }
        }
      }
      .content {
        margin: 20px 0px;

        img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          margin-top: 20px;
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;

        .items {
          display: flex;
          align-items: center;
          gap: 20px;

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            font-size: 14px;
          }
        }

        .updatedAt {
          display: flex;
          align-content: end;
        }
      }
    }
  }
}
